<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ILNumerics.Native" version="3.2.0" targetFramework="net471" />
  <package id="SharpGL" version="2.4.0.0" targetFramework="net471" />
  <package id="SharpGL.WinForms" version="2.4.0.0" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net471" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net471" />
</packages>